{
    "prettier/prettier": [
        "error",
        {
            "singleQuote": true,
            "parser": "flow"
        }
    ],
    "singleQuote": true,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "useTabs": false,
                "tabWidth": 2
            }
        },
        {
            "files": "*.json",
            "options": {
                "useTabs": false,
                "tabWidth": 2
            }
        }
    ]
}
